// @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@font-face {
    font-family: "Raleway";
    src: local('Raleway'),
    url('./assets/fonts/RalewayMed.ttf') format("truetype");
} 

body {
    display: grid;
    height: 100vh;
    // font-family: 'Raleway', sans-serif;
    // grid-template: auto 1fr auto / auto 1fr auto
}